---
import { getData } from '@libs/data'
---

<div class="mb-medium overflow-scroll">
  <div class="grid context-palette-grid" style="--cx-grid-columns: 11; --cx-grid-rows: 36;">
    <!--// DESCRIPTION COLUMN -->
    <div class="grid-col description-col">
      <div class="header grid-item"><div>Description</div></div>
      <div class="grid-item g-row-2">
        <h6 class="mb-0">Base Colors</h6>
        <p class="font-small">
          Context base colors and their contrast counterparts for use with variable <code>opacity</code>. Contrast
          colors are for design purposes and may not be <a
            href="/docs/{{ .Site.Params.docs_version }}/getting-started/accessibility">accessible</a
          >.
        </p>
      </div>
      <div class="grid-item g-row-6">
        <h6 class="mb-0">Foreground Colors</h6>
        <p class="font-small">
          Text colors named by priority or functionality. These colors are used for more than just text, adhering to
          abstraction principles. Utilized for the <code>color</code> property.
        </p>
      </div>
      <div class="grid-item g-row-6">
        <h6 class="mb-0">Background Colors</h6>
        <p class="font-small">
          Solid colors for backgrounds, named by priority and functionality. Utilized for the <code
            >background-color</code
          > property.
        </p>
      </div>
      <div class="grid-item g-row-2">
        <h6 class="mb-0">Border Colors</h6>
        <p class="font-small">
          Colors for object borders and separator lines. Utilized for the <code>border-color</code> property.
        </p>
      </div>
      <div class="grid-item g-row-3">
        <h6 class="mb-0">Icon Colors</h6>
        <p class="font-small">
          Colors for symbolic elements, such as icons, list bullets and detail arrows. Utilized for both <code
            >color</code
          > and <code>fill</code> properties.
        </p>
      </div>
      <div class="grid-item g-row-2">
        <h6 class="mb-0">Indicator Colors</h6>
        <p class="font-small">
          Colors for activity or selection indicators. Utilized for both <code>fill</code> and <code>accent</code> properties.
        </p>
      </div>
      <div class="grid-item g-row-4">
        <h6 class="mb-0">Scene Colors</h6>
        <p class="font-small">
          Transparent backgrounds named by functionality. Utilized for the <code>background-color</code> property and suitable
          for foreground overlays.
        </p>
      </div>
      <div class="grid-item g-row-4">
        <h6 class="mb-0">Link Colors</h6>
        <p class="font-small">
          Colors for anchor elements, including all possible states. Utilized for the <code>color</code> property with state
          variants.
        </p>
      </div>
      <div class="grid-item g-row-8">
        <h6 class="mb-0">Interaction Colors</h6>
        <p class="font-small">
          Basic state colors for buttons and solid actions. Available only as CSS variables for use in components, not
          as classes.
        </p>
      </div>
    </div>
    <!--// CONTEXT COLOR COLUMNS -->
    {
      getData('context-colors').map((contextColor) => {
        return (
          <div class="grid-col color-col">
            <div class="header grid-item text-capitalize">
              <div>{contextColor.name}</div>
            </div>
            <div class="grid-item">
              <div class={`h-100 w-100 rounded position-relative swatch-${contextColor.name}`} />
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-contrast-color);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-subtle);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-slight);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-inverse);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-solid);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-highlight);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-even);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-evident);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-inverse);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-solid);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-highlight);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-border-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-border-subtle);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-icon-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-icon-subtle);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-icon-slight);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-cue-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-cue-slight);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-transparent-color);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-dim-slight);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-dim-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-dim-subtle);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-link-main);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-link-hover);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-link-active);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-link-visited);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-button);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-button);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-hover);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-hover);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-press);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-press);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-fg-disabled);`}
              >
                &nbsp;
              </div>
            </div>
            <div class="grid-item">
              <div
                class="h-100 w-100 rounded-medium"
                style={`background-color: var(--cx-${contextColor.name}-bg-disabled);`}
              >
                &nbsp;
              </div>
            </div>
          </div>
        )
      })
    }
    <!--// VARIABLE COLUMN -->
    <div class="grid-col variable-col">
      <div class="header grid-item"><div>Variable Name</div></div>
      <div class="grid-item">
        <code>--cx-*-base-color</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-contrast-color</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-subtle</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-slight</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-inverse</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-solid</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-highlight</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-even</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-evident</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-inverse</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-solid</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-highlight</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-border-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-border-subtle</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-icon-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-icon-subtle</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-icon-slight</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-cue-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-cue-slight</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-transparent-color</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-dim-slight</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-dim-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-dim-subtle</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-link-main</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-link-hover</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-link-active</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-link-visited</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-button</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-button</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-hover</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-hover</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-press</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-press</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-fg-disabled</code>
      </div>
      <div class="grid-item">
        <code>--cx-*-bg-disabled</code>
      </div>
    </div>
  </div>
</div>
