---
import ChassisWhiteFillIcon from '@components/svgs/ChassisWhiteFillIcon.astro'
import { getConfig } from '@libs/config'
import { getVersionedDocsPath } from '@libs/path'
---

<footer class="cxd-footer py-large py-medium-5 mt-xlarge bg-evident">
  <div class="container py-large py-medium-5 px-large px-medium-3 fg-subtle">
    <div class="row">
      <div class="col-large-3 mb-medium">
        <a
          class="d-inline-flex align-items-center mb-xsmall text-body-emphasis text-decoration-none"
          href="/"
          aria-label="Chassis"
        >
          <ChassisWhiteFillIcon class="d-block me-xsmall" height={32} width={40} />
          <span class="fs-5">Chassis</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-xsmall">
            Designed and built with all the love in the world by the <a href={getVersionedDocsPath('about/team')}
              >Chassis team</a
            > with the help of <a href={`${getConfig().repo}/graphs/contributors`}>our contributors</a>.
          </li>
          <li class="mb-xsmall">
            Code licensed <a href={`${getConfig().repo}/blob/main/LICENSE`} target="_blank" rel="license noopener"
              >MIT</a
            >, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener"
              >CC BY 3.0</a
            >.
          </li>
          <li class="mb-xsmall">Currently v{getConfig().current_version}.</li>
        </ul>
      </div>
      <div class="col-6 col-large-2 offset-large-1 mb-medium">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall"><a href="/">Home</a></li>
          <li class="mb-xsmall"><a href={getVersionedDocsPath('/')}>Docs</a></li>
          <li class="mb-xsmall"><a href={getVersionedDocsPath('examples')}>Examples</a></li>
          <li class="mb-xsmall"><a href={getConfig().icons}>Icons</a></li>
          <li class="mb-xsmall"><a href={getConfig().themes}>Themes</a></li>
          <li class="mb-xsmall"><a href={getConfig().blog}>Blog</a></li>
          <li class="mb-xsmall"><a href={getConfig().swag} target="_blank" rel="noopener">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall"><a href={getVersionedDocsPath('getting-started')}>Getting started</a></li>
          <li class="mb-xsmall"><a href={getVersionedDocsPath('examples/starter-template')}>Starter template</a></li>
          <li class="mb-xsmall"><a href={getVersionedDocsPath('getting-started/webpack')}>Webpack</a></li>
          <li class="mb-xsmall"><a href={getVersionedDocsPath('getting-started/parcel')}>Parcel</a></li>
          <li class="mb-xsmall"><a href={getVersionedDocsPath('getting-started/vite')}>Vite</a></li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis`} target="_blank" rel="noopener">Chassis 5</a>
          </li>
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis-css/tree/v4-dev`} target="_blank" rel="noopener">Chassis 4</a>
          </li>
          <li class="mb-xsmall"><a href={`${getConfig().github_org}/icons`} target="_blank" rel="noopener">Icons</a></li>
          <li class="mb-xsmall"><a href={`${getConfig().github_org}/rfs`} target="_blank" rel="noopener">RFS</a></li>
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/examples`} target="_blank" rel="noopener">Examples repo</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-large-2 mb-medium">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis-css/issues`} target="_blank" rel="noopener">Issues</a>
          </li>
          <li class="mb-xsmall">
            <a href={`${getConfig().github_org}/chassis-css/discussions`} target="_blank" rel="noopener">Discussions</a>
          </li>
          <li class="mb-xsmall">
            <a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a>
          </li>
          <li class="mb-xsmall"><a href={getConfig().opencollective} target="_blank" rel="noopener">Open Collective</a></li>
          <li class="mb-xsmall">
            <a href="https://stackoverflow.com/questions/tagged/chassis-5" target="_blank" rel="noopener"
              >Stack Overflow</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
